function main 104 12 void
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop local 100 INT
push data 0 "\nOperations:\n1. Push back to the Queue\n2. Pop from the front of the Queue\n3. End\n\n" STR
label #L0
push constant 1 INT
pop temp 1 INT
if-goto #L1
goto #L2
label #L1
push data 1 "Queue: " STR
push data 1 STR
print STR
push temp 0 INT
pop local 101 INT
label #L3
push local 101 INT
push local 100 INT
lt INT
pop temp 2 INT
if-goto #L4
goto #L5
label #L6
push local 101 INT
push temp 1 INT
add INT
pop temp 2 INT
push temp 2 INT
pop local 101 INT
goto #L3
label #L4
push constant 0 INT
push local 101 INT
push local 101 INT
add INT
push local 101 INT
push local 101 INT
add INT
add INT
add INT
push that 0 INT
pop temp 2 INT
push temp 2 INT
print INT
push data 2 " " STR
push data 2 STR
print STR
goto #L6
label #L5
push data 3 "\n" STR
push data 3 STR
print STR
push data 0 STR
print STR
scan local 102 INT
push temp 4 INT
push temp 5 INT
eq INT
if-goto #L8
goto #L9
label #L8
push data 4 "Enter the number: " STR
push data 4 STR
print STR
scan local 103 INT
push local 103 INT
push constant 0 INT
push local 100 INT
push local 100 INT
add INT
push local 100 INT
push local 100 INT
add INT
add INT
add INT
pop that 0 INT
push local 100 INT
push temp 1 INT
add INT
pop temp 6 INT
push temp 6 INT
pop local 100 INT
goto #L7
label #L9
push temp 4 INT
push temp 8 INT
eq INT
if-goto #L10
goto #L11
label #L10
push temp 1 INT
pop local 101 INT
label #L12
push local 101 INT
push local 100 INT
lt INT
pop temp 6 INT
if-goto #L13
goto #L14
label #L15
push local 101 INT
push temp 1 INT
add INT
pop temp 6 INT
push temp 6 INT
pop local 101 INT
goto #L12
label #L13
push local 101 INT
push temp 1 INT
sub INT
pop temp 6 INT
push constant 0 INT
push local 101 INT
push local 101 INT
add INT
push local 101 INT
push local 101 INT
add INT
add INT
add INT
push that 0 INT
pop temp 9 INT
push temp 9 INT
push constant 0 INT
push temp 6 INT
push temp 6 INT
add INT
push temp 6 INT
push temp 6 INT
add INT
add INT
add INT
pop that 0 INT
goto #L15
label #L14
push local 100 INT
push temp 1 INT
sub INT
pop temp 9 INT
push temp 9 INT
pop local 100 INT
goto #L7
label #L11
push temp 4 INT
push temp 11 INT
eq INT
if-goto #L16
goto #L17
label #L16
goto #L7
label #L17
goto #L0
label #L2
