function main 0 5 INT
push constant 4 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
pop that 0 INT
push constant 6 INT
push constant 0 INT
push constant 1 INT
push constant 1 INT
add INT
push constant 1 INT
push constant 1 INT
add INT
add INT
add INT
pop that 0 INT
push constant 1 INT
pop temp 0 INT
push constant 0 INT
push temp 0 INT
push temp 0 INT
add INT
push temp 0 INT
push temp 0 INT
add INT
add INT
add INT
push that 0 INT
pop temp 1 INT
push temp 1 INT
print INT
push data 0 " " STR
push data 0 STR
print STR
push constant 0 INT
pop temp 2 INT
push temp 0 INT
push constant 0 INT
push temp 2 INT
push temp 2 INT
add INT
push temp 2 INT
push temp 2 INT
add INT
add INT
add INT
pop that 0 INT
push constant 0 INT
push temp 2 INT
push temp 2 INT
add INT
push temp 2 INT
push temp 2 INT
add INT
add INT
add INT
push that 0 INT
pop temp 3 INT
push temp 3 INT
push constant 0 INT
push temp 0 INT
push temp 0 INT
add INT
push temp 0 INT
push temp 0 INT
add INT
add INT
add INT
pop that 0 INT
push constant 0 INT
push temp 2 INT
push temp 2 INT
add INT
push temp 2 INT
push temp 2 INT
add INT
add INT
add INT
push that 0 INT
pop temp 3 INT
push temp 3 INT
print INT
push data 1 " " STR
push data 1 STR
print STR
push constant 0 INT
push temp 0 INT
push temp 0 INT
add INT
push temp 0 INT
push temp 0 INT
add INT
add INT
add INT
push that 0 INT
pop temp 4 INT
push temp 4 INT
print INT
push temp 2 INT
pop argument 0 INT
return
