function main 10 10 INT
push constant 0 INT
pop temp 0 INT
push constant 6 INT
pop temp 1 INT
push temp 1 INT
push constant 0 INT
push temp 0 INT
add INT
pop that 0
push constant 0 INT
pop temp 0 INT
push constant 0 INT
push temp 0 INT
add INT
push that 0
pop temp 2 INT
push temp 2 INT
print INT
push constant 4 INT
pop temp 3 INT
push constant 0 INT
push temp 3 INT
add INT
push that 0
pop temp 4 INT
push temp 4 INT
print INT
push constant 4 INT
pop temp 3 INT
push constant 0 INT
pop temp 0 INT
push constant 0 INT
push temp 0 INT
add INT
push that 0
pop temp 5 INT
push temp 5 INT
push constant 0 INT
push temp 3 INT
add INT
pop that 0
push constant 4 INT
pop temp 3 INT
push constant 0 INT
push temp 3 INT
add INT
push that 0
pop temp 6 INT
push temp 6 INT
print INT
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop argument 0 INT
return
