function binarySearch 9 7 INT
push constant 2 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
pop that 0 INT
push constant 4 INT
push constant 0 INT
push constant 1 INT
push constant 1 INT
add INT
push constant 1 INT
push constant 1 INT
add INT
add INT
add INT
pop that 0 INT
push constant 8 INT
push constant 0 INT
push constant 2 INT
push constant 2 INT
add INT
push constant 2 INT
push constant 2 INT
add INT
add INT
add INT
pop that 0 INT
push constant 12 INT
push constant 0 INT
push constant 3 INT
push constant 3 INT
add INT
push constant 3 INT
push constant 3 INT
add INT
add INT
add INT
pop that 0 INT
push constant 15 INT
push constant 0 INT
push constant 4 INT
push constant 4 INT
add INT
push constant 4 INT
push constant 4 INT
add INT
add INT
add INT
pop that 0 INT
push local 5 INT
push local 6 INT
gt INT
pop temp 0 INT
push temp 0 INT
if-goto #L1
goto #L2
label #L1
push constant 1 INT
pop temp 0 INT
push temp 0 INT
neg INT
pop temp 1 INT
push temp 1 INT
pop argument 0 INT
return
goto #L0
label #L2
label #L0
push local 6 INT
push local 5 INT
sub INT
pop temp 1 INT
push constant 2 INT
pop temp 2 INT
push constant 0 INT
pop temp 3 INT
push temp 1 INT
pop temp 4 INT
push constant 1 INT
pop temp 5 INT
label #L4
push temp 4 INT
push temp 2 INT
ge INT
pop temp 6 INT
push temp 6 INT
if-goto #L5
goto #L6
label #L5
push temp 3 INT
push temp 5 INT
add INT
pop temp 3 INT
push temp 4 INT
push temp 2 INT
sub INT
pop temp 4 INT
goto #L4
label #L6
push local 5 INT
push temp 3 INT
add INT
pop temp 4 INT
push temp 4 INT
pop local 7 INT
push constant 0 INT
push local 7 INT
push local 7 INT
add INT
push local 7 INT
push local 7 INT
add INT
add INT
add INT
push that 0 INT
pop temp 6 INT
push temp 6 INT
push local 8 INT
eq INT
pop temp 5 INT
push temp 5 INT
if-goto #L8
goto #L9
label #L8
push local 7 INT
pop argument 0 INT
return
goto #L7
label #L9
push constant 0 INT
push local 7 INT
push local 7 INT
add INT
push local 7 INT
push local 7 INT
add INT
add INT
add INT
push that 0 INT
pop temp 1 INT
push temp 1 INT
push local 8 INT
lt INT
pop temp 3 INT
push temp 3 INT
if-goto #L10
goto #L11
label #L10
push local 7 INT
push temp 0 INT
add INT
pop temp 4 INT
push temp 4 INT
push local 6 INT
push local 8 INT
call binarySearch 3
push argument 0 INT
pop temp 6 INT
push temp 6 INT
pop argument 0 INT
return
goto #L7
label #L11
push local 5 INT
push local 7 INT
push temp 0 INT
sub INT
pop temp 5 INT
push temp 5 INT
push local 8 INT
call binarySearch 3
push argument 0 INT
pop temp 1 INT
push temp 1 INT
pop argument 0 INT
return
label #L7
function main 6 3 INT
push constant 2 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
pop that 0 INT
push constant 4 INT
push constant 0 INT
push constant 1 INT
push constant 1 INT
add INT
push constant 1 INT
push constant 1 INT
add INT
add INT
add INT
pop that 0 INT
push constant 8 INT
push constant 0 INT
push constant 2 INT
push constant 2 INT
add INT
push constant 2 INT
push constant 2 INT
add INT
add INT
add INT
pop that 0 INT
push constant 12 INT
push constant 0 INT
push constant 3 INT
push constant 3 INT
add INT
push constant 3 INT
push constant 3 INT
add INT
add INT
add INT
pop that 0 INT
push constant 15 INT
push constant 0 INT
push constant 4 INT
push constant 4 INT
add INT
push constant 4 INT
push constant 4 INT
add INT
add INT
add INT
pop that 0 INT
push constant 0 INT
pop temp 0 INT
push temp 0 INT
push constant 4 INT
pop temp 1 INT
push temp 1 INT
call binarySearch 3
push argument 0 INT
pop temp 2 INT
push temp 2 INT
pop local 5 INT
push local 5 INT
print INT
push temp 0 INT
pop argument 0 INT
return
