function fact 3 3 INT
push constant 1 INT
pop temp 0 INT
push argument 0 INT
push temp 0 INT
eq INT
pop temp 1 INT
push temp 1 INT
if-goto #L1
goto #L2
label #L1
push temp 0 INT
pop argument 0 INT
return
goto #L0
label #L2
label #L0
push argument 0 INT
push temp 0 INT
sub INT
pop temp 1 INT
push temp 1 INT
call fact 1
push argument 0 INT
pop temp 2 INT
push temp 2 INT
pop local 1 INT
push local 1 INT
push argument 0 INT
add INT
pop temp 2 INT
push temp 2 INT
pop local 2 INT
push local 2 INT
pop argument 0 INT
return



function main 2 1 INT
push data 0 "enter factorial: " STR
push data 0 STR
print STR
scan local 0 INT
push local 0 INT
call fact 1
push argument 0 INT
pop temp 0 INT
push temp 0 INT
pop local 1 INT
push local 1 INT
print INT
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop argument 0 INT
return
