function main 30 22 INT
push constant 1 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
pop that 0 INT
push constant 2 INT
push constant 0 INT
push constant 1 INT
push constant 1 INT
add INT
push constant 1 INT
push constant 1 INT
add INT
add INT
add INT
pop that 0 INT
push constant 3 INT
push constant 0 INT
push constant 2 INT
push constant 2 INT
add INT
push constant 2 INT
push constant 2 INT
add INT
add INT
add INT
pop that 0 INT
push constant 4 INT
push constant 0 INT
push constant 3 INT
push constant 3 INT
add INT
push constant 3 INT
push constant 3 INT
add INT
add INT
add INT
pop that 0 INT
push constant 5 INT
push constant 0 INT
push constant 4 INT
push constant 4 INT
add INT
push constant 4 INT
push constant 4 INT
add INT
add INT
add INT
pop that 0 INT
push constant 6 INT
push constant 0 INT
push constant 5 INT
push constant 5 INT
add INT
push constant 5 INT
push constant 5 INT
add INT
add INT
add INT
pop that 0 INT
push constant 7 INT
push constant 0 INT
push constant 6 INT
push constant 6 INT
add INT
push constant 6 INT
push constant 6 INT
add INT
add INT
add INT
pop that 0 INT
push constant 8 INT
push constant 0 INT
push constant 7 INT
push constant 7 INT
add INT
push constant 7 INT
push constant 7 INT
add INT
add INT
add INT
pop that 0 INT
push constant 9 INT
push constant 0 INT
push constant 8 INT
push constant 8 INT
add INT
push constant 8 INT
push constant 8 INT
add INT
add INT
add INT
pop that 0 INT
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop local 9 INT
label #L0
push constant 9 INT
pop temp 1 INT
push local 9 INT
push temp 1 INT
lt INT
pop temp 2 INT
push temp 2 INT
if-goto #L1
goto #L2
label #L3
push constant 1 INT
pop temp 2 INT
push local 9 INT
push temp 2 INT
add INT
pop temp 3 INT
push temp 3 INT
pop local 9 INT
goto #L0
label #L1
push constant 0 INT
push local 9 INT
push local 9 INT
add INT
push local 9 INT
push local 9 INT
add INT
add INT
add INT
push that 0 INT
pop temp 3 INT
push temp 3 INT
print INT
goto #L3
label #L2
push constant 9 INT
push constant 36 INT
push constant 0 INT
push constant 0 INT
add INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
pop that 0 INT
push constant 8 INT
push constant 40 INT
push constant 1 INT
push constant 1 INT
add INT
push constant 1 INT
push constant 1 INT
add INT
add INT
add INT
pop that 0 INT
push constant 7 INT
push constant 40 INT
push constant 2 INT
push constant 2 INT
add INT
push constant 2 INT
push constant 2 INT
add INT
add INT
add INT
pop that 0 INT
push constant 6 INT
push constant 40 INT
push constant 3 INT
push constant 3 INT
add INT
push constant 3 INT
push constant 3 INT
add INT
add INT
add INT
pop that 0 INT
push constant 5 INT
push constant 40 INT
push constant 4 INT
push constant 4 INT
add INT
push constant 4 INT
push constant 4 INT
add INT
add INT
add INT
pop that 0 INT
push constant 4 INT
push constant 40 INT
push constant 5 INT
push constant 5 INT
add INT
push constant 5 INT
push constant 5 INT
add INT
add INT
add INT
pop that 0 INT
push constant 3 INT
push constant 40 INT
push constant 6 INT
push constant 6 INT
add INT
push constant 6 INT
push constant 6 INT
add INT
add INT
add INT
pop that 0 INT
push constant 2 INT
push constant 40 INT
push constant 7 INT
push constant 7 INT
add INT
push constant 7 INT
push constant 7 INT
add INT
add INT
add INT
pop that 0 INT
push constant 1 INT
push constant 40 INT
push constant 8 INT
push constant 8 INT
add INT
push constant 8 INT
push constant 8 INT
add INT
add INT
add INT
pop that 0 INT
push constant 0 INT
pop temp 4 INT
push temp 4 INT
pop local 9 INT
label #L4
push constant 9 INT
pop temp 5 INT
push local 9 INT
push temp 5 INT
lt INT
pop temp 6 INT
push temp 6 INT
if-goto #L5
goto #L6
label #L7
push constant 1 INT
pop temp 6 INT
push local 9 INT
push temp 6 INT
add INT
pop temp 7 INT
push temp 7 INT
pop local 9 INT
goto #L4
label #L5
push constant 44 INT
push local 9 INT
push local 9 INT
add INT
push local 9 INT
push local 9 INT
add INT
add INT
add INT
push that 0 INT
pop temp 7 INT
push temp 7 INT
print INT
goto #L7
label #L6
push constant 0 INT
pop temp 8 INT
push temp 8 INT
pop local 29 INT
label #L8
push constant 9 INT
pop temp 9 INT
push local 29 INT
push temp 9 INT
lt INT
pop temp 10 INT
push temp 10 INT
if-goto #L9
goto #L10
label #L11
push constant 1 INT
pop temp 10 INT
push local 29 INT
push temp 10 INT
add INT
pop temp 11 INT
push temp 11 INT
pop local 29 INT
goto #L8
label #L9
push constant 0 INT
push local 29 INT
push local 29 INT
add INT
push local 29 INT
push local 29 INT
add INT
add INT
add INT
push that 0 INT
pop temp 11 INT
push constant 40 INT
push local 29 INT
push local 29 INT
add INT
push local 29 INT
push local 29 INT
add INT
add INT
add INT
push that 0 INT
pop temp 12 INT
push temp 11 INT
push temp 12 INT
add INT
pop temp 13 INT
push temp 13 INT
push constant 80 INT
push local 29 INT
push local 29 INT
add INT
push local 29 INT
push local 29 INT
add INT
add INT
add INT
pop that 0 INT
goto #L11
label #L10
push data 0 "\n" STR
push data 0 STR
print STR
push constant 0 INT
pop temp 11 INT
push temp 11 INT
pop local 19 INT
label #L12
push constant 9 INT
pop temp 12 INT
push local 19 INT
push temp 12 INT
lt INT
pop temp 13 INT
push temp 13 INT
if-goto #L13
goto #L14
label #L15
push constant 1 INT
pop temp 13 INT
push local 19 INT
push temp 13 INT
add INT
pop temp 14 INT
push temp 14 INT
pop local 19 INT
goto #L12
label #L13
push constant 80 INT
push local 19 INT
push local 19 INT
add INT
push local 19 INT
push local 19 INT
add INT
add INT
add INT
push that 0 INT
pop temp 14 INT
push temp 14 INT
print INT
push constant 1 INT
pop temp 15 INT
push local 19 INT
push temp 15 INT
add INT
pop temp 16 INT
push constant 3 INT
pop temp 17 INT
push constant 0 INT
pop temp 18 INT
push temp 16 INT
pop temp 19 INT
push constant 1 INT
pop temp 20 INT
label #L18
push temp 19 INT
push temp 17 INT
ge INT
pop temp 21 INT
push temp 21 INT
if-goto #L19
goto #L20
label #L19
push temp 19 INT
push temp 17 INT
sub INT
pop temp 19 INT
goto #L18
label #L20
push temp 19 INT
pop temp 18 INT
push constant 0 INT
pop temp 19 INT
push temp 18 INT
push temp 19 INT
eq INT
pop temp 21 INT
push temp 21 INT
if-goto #L21
goto #L22
label #L21
push data 1 "\n" STR
push data 1 STR
print STR
goto #L16
label #L22
push data 2 " " STR
push data 2 STR
print STR
label #L16
goto #L15
label #L14
push constant 0 INT
pop temp 20 INT
push temp 20 INT
return
