function main 70 24 INT
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop local 63 INT
label #L0
push constant 63 INT
pop temp 1 INT
push local 63 INT
push temp 1 INT
lt INT
pop temp 2 INT
push temp 2 INT
if-goto #L1
goto #L2
label #L3
push constant 1 INT
pop temp 2 INT
push local 63 INT
push temp 2 INT
add INT
pop temp 3 INT
push temp 3 INT
pop local 63 INT
goto #L0
label #L1
push constant 0 INT
pop temp 3 INT
push temp 3 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push local 63 INT
push local 63 INT
push local 63 INT
push local 63 INT
add INT
add INT
add INT
add INT
pop that 0 INT
goto #L3
label #L2
label #L4
push constant 1 INT
pop temp 4 INT
push temp 4 INT
if-goto #L5
goto #L6
label #L5
push data 0 "Tree: \n\n" STR
push data 0 STR
print STR
push constant 0 INT
pop temp 5 INT
push temp 5 INT
pop local 64 INT
push constant 1 INT
pop temp 6 INT
push temp 6 INT
pop local 65 INT
push constant 0 INT
pop temp 7 INT
push temp 7 INT
pop local 66 INT
push constant 0 INT
pop temp 8 INT
push temp 8 INT
pop local 64 INT
label #L7
push constant 6 INT
pop temp 9 INT
push local 64 INT
push temp 9 INT
lt INT
pop temp 10 INT
push temp 10 INT
if-goto #L8
goto #L9
label #L10
push constant 1 INT
pop temp 10 INT
push local 64 INT
push temp 10 INT
add INT
pop temp 11 INT
push temp 11 INT
pop local 64 INT
goto #L7
label #L8
push constant 0 INT
pop temp 11 INT
push temp 11 INT
pop local 67 INT
label #L11
push local 67 INT
push local 65 INT
lt INT
pop temp 12 INT
push temp 12 INT
if-goto #L12
goto #L13
label #L14
push constant 1 INT
pop temp 12 INT
push local 67 INT
push temp 12 INT
add INT
pop temp 13 INT
push temp 13 INT
pop local 67 INT
goto #L11
label #L12
push local 66 INT
push local 67 INT
add INT
pop temp 13 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push temp 13 INT
push temp 13 INT
push temp 13 INT
push temp 13 INT
add INT
add INT
add INT
add INT
push that 0 INT
pop temp 14 INT
push temp 14 INT
print INT
push data 1 " " STR
push data 1 STR
print STR
goto #L14
label #L13
push data 2 "\n" STR
push data 2 STR
print STR
push local 66 INT
push local 65 INT
add INT
pop temp 13 INT
push temp 13 INT
pop local 66 INT
push constant 2 INT
pop temp 13 INT
push constant 0 INT
pop temp 15 INT
push constant 0 INT
pop temp 16 INT
push constant 1 INT
pop temp 17 INT
label #L16
push temp 16 INT
push temp 13 INT
lt INT
pop temp 18 INT
push temp 18 INT
if-goto #L17
goto #L18
label #L17
push temp 15 INT
push local 65 INT
add INT
pop temp 15 INT
push temp 16 INT
push temp 17 INT
add INT
pop temp 16 INT
goto #L16
label #L18
push temp 15 INT
pop local 65 INT
goto #L10
label #L9
push data 3 "\n\n" STR
push data 3 STR
print STR
push data 4 "Insert: " STR
push data 4 STR
print STR
scan local 68 INT
push constant 0 INT
pop temp 16 INT
push temp 16 INT
pop local 69 INT
label #L19
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push local 69 INT
push local 69 INT
push local 69 INT
push local 69 INT
add INT
add INT
add INT
add INT
push that 0 INT
pop temp 18 INT
push constant 0 INT
pop temp 17 INT
push temp 18 INT
push temp 17 INT
eq INT
pop temp 19 INT
push temp 19 INT
not INT
pop temp 15 INT
push temp 15 INT
if-goto #L20
goto #L21
label #L20
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push local 69 INT
push local 69 INT
push local 69 INT
push local 69 INT
add INT
add INT
add INT
add INT
push that 0 INT
pop temp 19 INT
push local 68 INT
push temp 19 INT
lt INT
pop temp 18 INT
push temp 18 INT
if-goto #L23
goto #L24
label #L23
push constant 2 INT
pop temp 15 INT
push constant 0 INT
pop temp 19 INT
push constant 0 INT
pop temp 18 INT
push constant 1 INT
pop temp 20 INT
label #L26
push temp 18 INT
push local 69 INT
lt INT
pop temp 21 INT
push temp 21 INT
if-goto #L27
goto #L28
label #L27
push temp 19 INT
push temp 15 INT
add INT
pop temp 19 INT
push temp 18 INT
push temp 20 INT
add INT
pop temp 18 INT
goto #L26
label #L28
push constant 1 INT
pop temp 18 INT
push temp 19 INT
push temp 18 INT
add INT
pop temp 21 INT
push temp 21 INT
pop local 69 INT
goto #L22
label #L24
push constant 2 INT
pop temp 20 INT
push constant 0 INT
pop temp 19 INT
push constant 0 INT
pop temp 21 INT
push constant 1 INT
pop temp 22 INT
label #L30
push temp 21 INT
push local 69 INT
lt INT
pop temp 23 INT
push temp 23 INT
if-goto #L31
goto #L32
label #L31
push temp 19 INT
push temp 20 INT
add INT
pop temp 19 INT
push temp 21 INT
push temp 22 INT
add INT
pop temp 21 INT
goto #L30
label #L32
push constant 2 INT
pop temp 21 INT
push temp 19 INT
push temp 21 INT
add INT
pop temp 23 INT
push temp 23 INT
pop local 69 INT
label #L22
goto #L19
label #L21
push local 68 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push local 69 INT
push local 69 INT
push local 69 INT
push local 69 INT
add INT
add INT
add INT
add INT
pop that 0 INT
goto #L4
label #L6
push constant 0 INT
pop temp 22 INT
push temp 22 INT
return
