function main 4 1 INT
push data 0 "Enter \\\"a\\\" value = " STR
push data 0 STR
print STR
scan local 0 INT
push data 1 "Enter \\\"b\\\" value = " STR
push data 1 STR
print STR
scan local 1 INT
push data 2 "Select the operation: \n1. Sum (+)\n2. Product (*)\n3. Bitwise And (&)\n" STR
push data 2 STR
print STR
scan local 3 INT
push local 3 INT
print INT
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop argument 0 INT
return
