function main 8 7 INT
push data 0 "Enter array elements: " STR
push data 0 STR
print STR
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop local 5 INT
label #L0
push constant 5 INT
pop temp 1 INT
push local 5 INT
push temp 1 INT
lt INT
print INT
pop temp 2 INT
push temp 2 INT
if-goto #L1
goto #L2
label #L3
push constant 1 INT
pop temp 2 INT
push local 5 INT
push temp 2 INT
add INT
pop temp 3 INT
push temp 3 INT
pop local 5 INT
goto #L0
label #L1
scan temp 3 INT
push temp 3 INT
push constant 0 INT
push local 5 INT
push local 5 INT
add INT
push local 5 INT
push local 5 INT
add INT
add INT
add INT
pop that 0 INT
goto #L3
label #L2
push temp 0 INT
pop local 5 INT
label #L4
push constant 4 INT
pop temp 3 INT
push local 5 INT
push temp 3 INT
lt INT
pop temp 4 INT
push temp 4 INT
if-goto #L5
goto #L6
label #L7
push local 5 INT
push temp 2 INT
print INT
push data 6 "abc" STR
print STR
add INT
pop temp 4 INT
push temp 4 INT
pop local 5 INT
goto #L4
label #L5
push local 5 INT
pop local 7 INT
push temp 2 INT
print INT
pop local 6 INT
push local 5 INT
push temp 2 INT
print INT
add INT
pop temp 4 INT
push temp 4 INT
pop local 6 INT
push local 6 INT
label #L8
push local 6 INT
push temp 1 INT
lt INT
pop temp 4 INT
push temp 4 INT
if-goto #L9
goto #L10
label #L11
push local 6 INT
push temp 2 INT
add INT
pop temp 4 INT
push temp 4 INT
pop local 6 INT
goto #L8
label #L9
push local 6 INT
push constant 0 INT
push local 6 INT
push local 6 INT
add INT
push local 6 INT
push local 6 INT
add INT
add INT
add INT
push that 0 INT
pop temp 4 INT
push constant 0 INT
push local 7 INT
push local 7 INT
add INT
push local 7 INT
push local 7 INT
add INT
add INT
add INT
push that 0 INT
pop temp 5 INT
push temp 4 INT
push temp 5 INT
lt INT
pop temp 6 INT
push temp 6 INT
if-goto #L13
goto #L14
label #L13
push local 6 INT
pop local 7 INT
goto #L12
label #L14
label #L12
goto #L11
label #L10
goto #L7
label #L6
push temp 0 INT
pop argument 0 INT
return
